.backgroundDiv {
    min-height: 500px;
    max-height: 85vh;
    position: relative;
    overflow: hidden;
}

.filmLogo {
    position: absolute;
    bottom: 150px;
    width: 60%;
}

.filmBackground {
    width: 100%;
    min-height: 500px;
    object-fit: cover;
}

.bgFilmBtns {
    position: absolute;
    bottom: 100px;
    left: 20px;
    display: flex;
    margin: 0 0 0 20px;
}

.bgFilmBtns button {
    cursor: pointer;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-size: 1em;
    transition: opacity 0.2s ease, background-color 0.2s ease;
}

.bgFilmBtns button:first-of-type:hover {
    opacity: 0.7;
}

.bgFilmBtns button svg {
    margin: 0 5px 0 0;
}

.bgFilmBtns button:nth-of-type(2) {
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.bgFilmBtns button:nth-of-type(2) svg {
    margin: 0 10px 0 0;
}

.bgFilmBtns button:nth-of-type(2):hover {
    background-color: rgba(0,0,0,0.9);
}

@media screen and (min-width:770px) {
    .bgFilmBtns {
        display: flex;
        margin: 0 0 0 70px;
    }
}