.dropdownMenu {
    position: fixed;
    top: 70px;
    right: 15px;
    width: 220px;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid rgba(255,255,255,0.2);
    color: white;
    font-size: 0.9em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
}

.dropdownMenu.visible {
    opacity: 1;
    visibility: visible;
}

.dropdownArr {
    position: fixed;
    top: 59px;
    right: 30px;
}

.dropdownMenu a:hover {
    text-decoration: underline;
}

.dropdownMenu > span {
    display: flex;
    align-items: center;
    padding: 7px 10px;
}

.dropdownMenu span:nth-of-type(5) {
    margin: 0 0 10px 0;
}

.dropdownMenu span:last-of-type {
    border-top: 1px solid rgba(255,255,255,0.7);
    justify-content: center;
    padding: 15px 0 5px 0;
}

.dropdownMenu p {
    padding: 0;
    margin: 0 0 0 10px;
}

.dropdownMenu img {
    width: 35px;
    height: 30px;
    border-radius: 5px;
}

.dropdownMenu svg {
    margin: 0 0 0 5px;
}

@media screen and (min-width:770px){
    .dropdownMenu {
        right: 50px;
    }
    .dropdownArr {
        right: 65px;
    }
}